.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding: 0 16px;
  background-color: var(--color-canvas);
  border-bottom: 2px solid var(--color-border);

  ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0;
    list-style-type: none;

    li a {
      font-weight: 500;
      font-style: italic;
    }
  }
}
