@use './variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: variables.$font-weight-extra-bold;
  font-style: italic;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ms-display-large {
  font-size: 3.5rem;
  line-height: 1;
}

.ms-display-medium {
  font-size: 2.75rem;
  line-height: 1;
}
