@use './accessibility';
@use './colors';
@use './text';
@use './variables';

@import 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,600;1,800&display=swap';

:root {
  // base
  --color-attention: #{colors.$amber-7};
  --color-border: #{colors.$black};
  --color-canvas-alt: #{colors.$zinc-1};
  --color-canvas-inset: #{colors.$zinc-0};
  --color-canvas: #{colors.$white};
  --color-danger: #{colors.$red-7};
  --color-disabled: #{colors.$zinc-3};
  --color-foreground: #{colors.$black};
  --color-hover: #{colors.$zinc-1};
  --color-info: #{colors.$sky-7};
  --color-muted: #{colors.$zinc-5};
  --color-neutral: #{colors.$zinc-7};
  --color-primary: #{colors.$teal-7};
  --color-success: #{colors.$emerald-7};

  // alpha
  --color-alpha-attention: #{colors.$amber-alpha-7};
  --color-alpha-border: #{colors.$black-alpha};
  --color-alpha-danger: #{colors.$red-alpha-7};
  --color-alpha-info: #{colors.$sky-alpha-7};
  --color-alpha-neutral: #{colors.$zinc-alpha-7};
  --color-alpha-primary: #{colors.$teal-alpha-7};
  --color-alpha-success: #{colors.$emerald-alpha-7};

  // contrast
  --color-contrast-attention: #{colors.$white};
  --color-contrast-border: #{colors.$white};
  --color-contrast-canvas-alt: #{colors.$black};
  --color-contrast-canvas-inset: #{colors.$black};
  --color-contrast-canvas: #{colors.$black};
  --color-contrast-danger: #{colors.$white};
  --color-contrast-disabled: #{colors.$zinc-5};
  --color-contrast-foreground: #{colors.$white};
  --color-contrast-hover: #{colors.$white};
  --color-contrast-info: #{colors.$white};
  --color-contrast-muted: #{colors.$white};
  --color-contrast-neutral: #{colors.$white};
  --color-contrast-primary: #{colors.$white};
  --color-contrast-success: #{colors.$white};
}

@media (prefers-color-scheme: dark) {
  :root {
    // base
    --color-attention: #{colors.$amber-5};
    --color-border: #{colors.$white};
    --color-canvas-alt: #{colors.$zinc-8};
    --color-canvas-inset: #{colors.$zinc-9};
    --color-canvas: #{colors.$black};
    --color-danger: #{colors.$red-5};
    --color-disabled: #{colors.$zinc-9};
    --color-foreground: #{colors.$white};
    --color-hover: #{colors.$zinc-8};
    --color-info: #{colors.$sky-5};
    --color-muted: #{colors.$zinc-5};
    --color-neutral: #{colors.$zinc-3};
    --color-primary: #{colors.$teal-5};
    --color-success: #{colors.$emerald-5};

    // alpha
    --color-alpha-attention: #{colors.$amber-alpha-5};
    --color-alpha-border: #{colors.$white-alpha};
    --color-alpha-danger: #{colors.$red-alpha-5};
    --color-alpha-info: #{colors.$sky-alpha-5};
    --color-alpha-neutral: #{colors.$zinc-alpha-5};
    --color-alpha-primary: #{colors.$teal-alpha-5};
    --color-alpha-success: #{colors.$emerald-alpha-5};

    // contrast
    --color-contrast-attention: #{colors.$black};
    --color-contrast-border: #{colors.$black};
    --color-contrast-canvas-alt: #{colors.$white};
    --color-contrast-canvas-inset: #{colors.$white};
    --color-contrast-canvas: #{colors.$white};
    --color-contrast-danger: #{colors.$black};
    --color-contrast-disabled: #{colors.$zinc-5};
    --color-contrast-foreground: #{colors.$black};
    --color-contrast-hover: #{colors.$black};
    --color-contrast-info: #{colors.$black};
    --color-contrast-muted: #{colors.$black};
    --color-contrast-neutral: #{colors.$black};
    --color-contrast-primary: #{colors.$black};
    --color-contrast-success: #{colors.$black};
  }
}

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font-weight: variables.$font-weight-regular;
  font-family: Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  line-height: 1.5;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  color: var(--color-foreground);
  background-color: var(--color-canvas);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ms-root-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

[data-nextjs-scroll-focus-boundary] {
  display: flex;
  flex: 1;
  flex-direction: column;
}
