.homePage {
  flex: 1;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 64px 16px 0;

  @media (width >= 600px) {
    padding: 64px 24px 0;
  }
}

.page {
  flex: 1;
  width: 100%;
  padding: 16px;

  @media (width >= 600px) {
    padding: 24px;
  }
}

.header {
  margin-bottom: 24px;

  @media (width >= 600px) {
    margin-bottom: 32px;
  }
}
